/* @import "tailwindcss/preflight";
@tailwind utilities; */
@import url("./fonts.css");
@import "tailwindcss";

:root {
  --font-family-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
}

/* Example custom media query (optional) */
@media (max-width: 529px) {
  .hide-below-530 {
    display: none;
  }
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.filterSideBar {
  overflow: scroll;
  /* Optional: ensures the scrollbar is always there to be hidden */
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.filterSideBar::-webkit-scrollbar {
  width: 0;
  height: 0;
}