/* 1️⃣ Variable font (modern browsers) */
@font-face {
  font-family: "manrope";
  src: url("/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 800;
  /* Covers all weights in one file */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "light";
  src: url("../public/fonts/subset-Manrope-Light.woff2") format("woff2"),
    url("../public/fonts/subset-Manrope-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "regular";
  src: url("../public/fonts/subset-Manrope-Regular.woff2") format("woff2"),
    url("../public/fonts/subset-Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "regular";
  src: url("../public/fonts/subset-Manrope-SemiBold.woff") format("woff2"),
    url("../public/fonts/subset-Manrope-SemiBold.woff2") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bold";
  src: url("../public/fonts/subset-Manrope-Bold.woff") format("woff2"),
    url("../public/fonts/subset-Manrope-Bold.woff2") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}